.projects {
  .wrapper {
    width: 80%;
  }

  .content {
    justify-content: space-between;
  }

  .description {
    width: 25%;

    h3 {
      margin-bottom: 10px;
    }
    p,
    ul {
      font-weight: 200;
    }

    ul {
      font-size: 14px;
      color: var(--color-secondary);
      list-style: circle inside;
    }
  }

  .link {
    margin-left: 20px;
  }

  .screenshot {
    width: 60%;
    text-align: right;
    position: relative;
    transition: opacity 0.4s ease-in-out;
    box-shadow: 0 0 20px #111;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
    }

    &::before {
      transform: scaleX(0);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transition: transform 0.4s ease-in-out;
    }

    &::after {
      transform: scaleY(0);
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      transition: transform 0.4s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1.03);
    }

    &:hover::after {
      transform: scaleY(1.05);
    }
  }

  .img-fluid {
    width: 100%;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .screenshot:hover .img-fluid {
    opacity: 0.2;
  }

  .inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transition-delay: 0s;
  }

  .screenshot:hover .inner-text {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-delay: 0.1s;
  }
}
