.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.section-title {
  max-width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-main-lighten);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.btn {
  display: inline-block;
  user-select: none;
  margin-top: 40px;
  padding: 5px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px #111;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::before {
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:hover {
    color: var(--color-main);
  }
}

.btn-accent {
  color: var(--color-accent);
  border-color: var(--color-accent);

  &::before {
    background-color: var(--color-accent);
  }
}

.svg path {
  fill: #fff;
  transition: fill 0.2s ease-in-out;
}

.svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
  &:hover path {
    fill: var(--color-accent);
  }
}

.link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 900px) {
  header {
    position: absolute;

    .logo {
      width: 32px;
      height: 32px;
    }
  }

  .wrapper {
    width: 80%;
  }

  .content {
    flex-direction: column;
    padding: 40px 0;
  }

  .about {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .contact {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }

  .about,
  .projects {
    .profile,
    .screenshot,
    .description {
      width: 100%;
      max-width: 500px;
      min-width: unset;
    }

    .profile {
      margin-bottom: 40px;

      .img-fluid {
        width: 40%;
      }
    }

    .screenshot {
      margin: 20px 0 40px 0;
    }
  }

  footer {
    .social {
      .icon {
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  main {
    .angle-down {
      bottom: 10px;
    }
  }

  .wrapper {
    width: 90%;
    text-align: center;
    padding: 20px 0;
  }

  .about {
    clip-path: unset;
    padding-bottom: unset;
  }

  .section-title {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .content {
    // flex-direction: column;
    padding: 20px 0 40px 0;
  }

  .projects {
    .content {
      padding: 20px 0 20px 0;
    }
    .screenshot {
      margin: 20px 0 20px 0;
    }
  }

  .contact {
    clip-path: unset;
    padding-top: unset;
  }

  footer {
    .wrapper {
      padding: 10px 0;
    }
  }
}
