.skillset {
  .content {
    position: relative;
    display: block;
    margin-top: 60px;
  }

  .skill-icons {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;

    svg {
      height: 7em;
      margin: 0 1em;
    }

    path {
      fill: var(--color-accent);
    }
  }

  .skill-words {
    p {
      position: absolute;
      left: 0;
      right: 0;
      font-weight: 900;
      opacity: 0.2;
    }
  }

  @media only screen and (max-width: 900px) {
    .skill-words {
      display: none;
    }
  }
}
