footer {
  .wrapper {
    text-align: center;
  }

  .social {
    padding: 40px 0;
    border-bottom: 1px solid var(--color-main-lighten);

    .icon {
      padding: 5px;
      margin: 0 5px;
    }
  }

  .copy {
    color: var(--color-secondary);
    font-weight: 200;
    font-size: 14px;

    span {
      font-size: 14px;
    }
  }
}
